
<div class="w3l-hero-headers-9">
    <section class="slide slide-one">
      <div class="container">
        <!-- <div class="row"> -->
          <div class="row">
        <div class="banner-text col-lg-5">
          <h5>Bay ngay đi <br>Chờ chi!</h5>
          <p>Đi máy bay không còn là việc quá phức tạp với chúng tôi.</p>
          <a href="/#list-flights" class="btn logo-button top-margin">Đặt vé ngay</a>
            <h6 class="para">Hoặc
                <a href="#"> <strong>tìm hiểu thêm</strong> </a>các dịch vụ của chúng tôi.</h6>
        </div>
        <div class="image-postion col-lg-7">
          <img src="https://pluspng.com/img-png/free-png-hd-planes-airplane-png-clipart-5060.png" alt="product" class="img-responsive banner-images">
        </div>

      </div>
      <!-- </div> -->
    </div>
    </section>
  </div>