<section class="w3l-footers-20" id="footer-id">
	<div class="footers20">
		<div class="container">

			<div class=" row">


			</div>
			<div class="border-line-bottom"></div>
			<div class="row">
				<div class="grids-content col-lg-2 col-md-2 col-sm-6">
					<h4>Công ty</h4>
					<div class="footer-nav">
						<a href="#" class="contact-para3">Về chúng tôi</a>
						<a href="#" class="contact-para3">Điện thoại</a>
						<a href="#" class="contact-para3">Thư điện tử</a>
						<a href="#" class="contact-para3">Văn phòng</a>
						<a href="#" class="contact-para3">Mạng xã hội liên kết</a>
					</div>

				</div>
				<div class="grids-content col-lg-3 col-md-3 col-sm-6">
					<h4>Thông tin</h4>
					<a href="mailto:hello@example.com">
						<p class="contact-text-sub contact-para3">Bán vé máy bay</p>
					</a>
					<a href="tel:+7-800-999-800">
						<p class="contact-text-sub contact-para3">+7-800-999-800</p>
					</a>
					<p class="contact-text-sub contact-para3">care@airplane.vn </p>
					<p class="contact-text-sub contact-para3">371 Nguyễn Kiệm, Gò Vấp, HCM</p>
					<div class="buttons-teams">
						<a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
						<a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
						<a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-12 copyright-grid text-center">
                    <p class="copy-footer-29">© 2020 Copyright . Nguyễn Hoàng Phúc - Nguyễn Hoàng Minh Phúc
					</p>
                    <p class="text-warning">Khách mua vé máy bay lưu ý:</p>
                    <p class="text-danger">Hoàng Sa - Trường Sa là của Việt Nam</p>
                    <br />
                    <img src="https://nld.mediacdn.vn/2019/11/8/luoi-bo-15732130112301327334526.jpg"
                         style="width: 550px; height: 300px;"
                    class="text-center container">

				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</section>