
<section class="w3l-clients" id="list-flights">
    <div class="main-w3">
        <div class="container">
            <!-- main-slider -->
                <div class="main-titles-head">
                    <h3 class="header-name text-primary">Tra cứu chuyến bay</h3>
                </div>
                    <div class="container mt-3 hh14-text hh14-info" >
                      <h2 style="padding: 20px;" class="text-center">Chọn địa điểm khởi hành và kết thúc để tra cứu</h2>
                      <form action="{{ url_for('home_index') }}" class="text-center">
                          <span>Nơi khởi hành: </span>
                        <select name="airfield" class="custom-select mb-3 text-info" style="width: 30%; margin-top: 1.5%;">
                          {% for item in option %}
                              <option>{{ item.airfield }}</option>
                          {% endfor %}
                        </select>
                        <span> - Nơi kết thúc: </span>
                        <select name="airfield_land_off" class="custom-select mb-3 text-info" style="width: 30%; margin-top: 1.5%;">
                              {% for item in option %}
                                  <option>{{ item.airfield_land_off }}</option>
                              {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary fa fa-search" style="padding: 10px;">
                            Tra cứu</button>
                      </form>
                    </div>
                </div>
        </div>
    </div>
</section>
<br />
<!-- table of flight-->
<!--second component-->
<div class="inner-block col-md-9 container">
<div class="chit-chat-layer1">
	<div class="chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading text-center">
                                <h3 class="text-primary">LỊCH CÁC CHUYẾN BAY</h3><br />
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead>
                                        <tr>
                                          <th></th>
                                          <th>Mã</th>
                                          <th>Sân bay đi</th>
                                          <th>Sân hạ cánh</th>
                                          <th class="text-center">Khởi hành</th>
                                          <th class="text-center">Thời gian</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in flights %}
                                            <form action="{{ url_for('details_flight', flight_id=item.id) }}">
                                                <tr>
                                                    <td>
                                                        <img style="width: 55px; margin-top: -15px; margin-right: -20px;" src="{{ url_for('static', filename='img/bestseller.png') }}">
                                                    </td>
                                                    <td>
                                                        {{ item.id }}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-plane-departure"></i> {{ item.airfield }}
                                                    </td>
                                                    <td><i class="fa fa-plane-arrival">
                                                        </i> {{ item.airfield_land_off }}
                                                    </td>
                                                    <td class="text-center">
                                                        <i class="fa fa-calendar-alt"> </i> {{ item.datetime.strftime('%d tháng %m, %Y') }}
                                                    </td>
                                                    <td class="text-center">
                                                        <i class="fa fa-clock"></i> {{ item.time_duration }}
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-primary">Chi tiết</button>
                                                    </td>
                                                </tr>
                                            </form>
                                        {% endfor %}
                                    </tbody>
                      </table>
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div></div>
<!--END second component-->
<!-- end table of flight-->
<section class="w3l-clients" id="reviews">
    <div class="main-w3">
        <div class="container">
            <!-- main-slider -->
            <div class="main-titles-head">
                <h3 class="header-name text-primary">Đánh giá từ khách hàng</h3>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 hh14-text margin-bottom">
                    <div class="hh14-info">
                        <img src="{{ url_for('static', filename='img/ava-boy.png') }}" alt="product" class="img-responsive ">
                        <span>Willson Nguyen</span>
                        <p class="para mt-3">Web nhanh quá ^^ ahuhu chất lượng thì khỏi bàn. 5 sao :D</p>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                    </div>
                </div>

                    <div class="col-lg-6 col-md-6 hh14-text">
                        <div class="hh14-info">
                            <img src="{{ url_for('static', filename='img/ava-girl.png') }}" alt="product" class="img-responsive ">
                            <span>Ngọc Mozilla</span>
                            <p class="para mt-3">Giá cả cạnh tranh, dịch vụ và hỗ trợ khách hàng rất tốt.</p>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</section>