<div class="container mt-3">
  <h2 style="padding: 20px;" class="text-center">Chọn địa điểm khởi hành và kết thúc để đặt vé</h2>
  <form action="" class="text-center">
      <span>Nơi khởi hành: </span>
    <select name="place1" class="custom-select mb-3" style="width: 30%; margin-top: 1.5%;">
      <option>Hà Nội</option>
      <option>Hồ Chí Minh</option>
      <option>Cần Thơ</option>
    </select>
      <span> - Nơi kết thúc: </span>
      <select name="place2" class="custom-select mb-3" style="width: 30%; margin-top: 1.5%;">
      <option>Hồ Chí Minh</option>
      <option>Đà Nẵng</option>
      <option>Hà Nội</option>
    </select>
    <button type="submit" class="btn btn-primary">Kiểm tra</button>
  </form>
</div>
<section class="w3l-specification-6">
    <div class="specification-layout">
        <div class="container">
            <div class="main-titles-head">

                <h3 class="header-name">Nội dung trang chủ ở đây
                </h3>

            </div>
            <div class="specification-effect row text-center">
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6">

                    <div class="back-color">
                    <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head">abc</a></h4>
                    <p class="para">sub </p>
                </div>
            </div>
                <div class=" grids-effect-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="back-color">
                    <span class="fa fa-picture-o" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head">abc</a></h4>
                    <p class="para">sub </p>
                    </div>
                </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="back-color">
                    <span class="fa fa-pie-chart" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head">abc</a></h4>
                    <p class="para">sub</p>
                </div>
            </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="back-color">
                    <span class="fa fa-mobile" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head">abc</a></h4>
                    <p class="para">sub </p>
                </div>
            </div>
                <div class=" grids-effect-2 col-lg-4 col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="back-color">
                    <span class="fa fa-bolt" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head"> abc</a></h4>
                    <p class="para">sub </p>
                </div>
            </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 mt-4 pt-1 ">
                    <div class="back-color">
                    <span class="fa fa-cubes" aria-hidden="true"></span>
                    <h4><a href="about.html" class="title-head">abc</a></h4>
                    <p class="para">sub  </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="w3l-clients">
    <div class="main-w3">
        <div class="container">
            <!-- main-slider -->
            <div class="main-titles-head">

                <h3 class="header-name">Đánh giá từ khách hàng
                </h3>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 hh14-text margin-bottom">
                    <div class="hh14-info">
                        <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-512.png" alt="product" class="img-responsive ">
                        <span>Willson Nguyen</span>
                        <p class="para mt-3">Web nhanh quá ^^ ahuhu chất lượng thì khỏi bàn. 5 sao :D</p>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                        <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                    </div>
                </div>

                    <div class="col-lg-6 col-md-6 hh14-text">
                        <div class="hh14-info">
                            <img src="https://cdn.pixabay.com/photo/2016/08/20/05/36/avatar-1606914_1280.png" alt="product" class="img-responsive ">
                            <span>Ngọc Ánh</span>
                            <p class="para mt-3">Giá cả cạnh tranh, dịch vụ và hỗ trợ khách hàng rất tốt.</p>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>
                            <i class="fa fa-star fa-2x" style="color: #ffe80a"></i>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>