
<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class=" main-cont-wthree-2">
                <div class="left-contect-calls text-center">

                  <div class="call-grids-w3">
                      <div class="grids-effect-2 col-lg-12" >
                            <img src="https://www.nicepng.com/png/full/51-510332_kfc-logo-jetstar-logo-png.png" alt="">
                        </div>
                        <div class="grids-effect-2 col-lg-12" style="margin-top: 5%; width: 250px;">
                            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/logo_vna-mobile.png" alt="">
                        </div>

                        <div class=" grids-effect-2 col-lg-12" style="margin-top: 5%;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/VietJet_Air_logo.svg/1280px-VietJet_Air_logo.svg.png" alt="">
                        </div>

                        <div class="grids-effect-2 col-lg-12">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/3/37/Bamboo_Airways_logo_hang_may_bay.png" alt="">
                        </div>
                      <div class="grids-effect-2 col-lg-12">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/VASCO_logo.svg/1280px-VASCO_logo.svg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>