<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin Panel</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="{{ url_for('static', filename='css/style-admin/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">

    <link href="{{ url_for('static', filename='css/style-admin/style.css') }}" rel="stylesheet" type="text/css" media="all"/>

    <!--js-->
    <script src="{{ url_for('static', filename='js/js-admin/jquery-2.1.1.min.js') }}"></script>
    <!--icons-css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Google Fonts-->
    <link href='fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--//skycons-icons-->
</head>
<body>
    <div class="page-container">
       <div class="left-content">
           <div class="mother-grid-inner">

            <!--header start here-->
            {% block header %}
                {% include "admin/base/header.html" %}
           {% endblock %}
            <!--header end here-->

            <!-- script-for sticky-nav -->
                <script>
                    $(document).ready(function() {
                         var navoffeset=$(".header-main").offset().top;
                         $(window).scroll(function(){
                            var scrollpos=$(window).scrollTop();
                            if(scrollpos >=navoffeset){
                                $(".header-main").addClass("fixed");
                            }else{
                                $(".header-main").removeClass("fixed");
                            }
                         });

                    });
                    </script>
            <!-- /script-for sticky-nav -->

            <!--inner block start here-->
                    {% block inner %}
                        {% include "admin/base/inner.html" %}
                    {% endblock %}
            <!--inner block end here-->

            <!--copy rights start here-->
                    {% block copyright %}
                        {% include "admin/base/copyright.html" %}
                   {% endblock %}
            <!--COPY rights end here-->

            </div>
            <!--slider menu-->
                {% block slidermenu %}
                    {% include "admin/base/slider-menu.html" %}
               {% endblock %}
            <!--slide bar menu end here-->
            </div>
    </div>
<script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>