<!--inner block start here-->
<div class="inner-block">
<!--market updates updates-->
	 <div class="market-updates">
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-8 market-update-left">
						<h3>83</h3>
						<h4>Hóa đơn</h4>
						<p>Hóa đơn mua vé máy bay</p>
					</div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-file-text-o"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-2">
				 <div class="col-md-8 market-update-left">
					<h3>135</h3>
					<h4>Chuyến bay</h4>
					<p>Các chuyến bay</p>
				  </div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-plane fa-5x" style="color: white;"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-8 market-update-left">
						<h3>23</h3>
						<h4>Vé máy bay </h4>
						<p>Các loại vé</p>
					</div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-ticket fa-5x" style="color: white;"></i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
<!--market updates end here-->
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading text-center">
                                <h3 class="text">Các chuyến bay gần đây</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>STT</th>
                                      <th>Khởi hành</th>
                                      <th>Kết thúc</th>

                                      <th>Trạng thái</th>
                                      <th>Tiến trình</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Hà Nội</td>
                                  <td>Hồ Chí Minh</td>

                                  <td><span class="label label-danger">Đang bay</span></td>
                                  <td><span class="badge badge-info">40%</span></td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Vinh</td>
                                  <td>Hải Phòng</td>

                                  <td><span class="label label-success">Đã hạ cánh</span></td>
                                  <td><span class="badge badge-success">100%</span></td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Cần Thơ</td>
                                  <td>Nha Trang</td>

                                  <td><span class="label label-warning">Sắp hạ cánh</span></td>
                                  <td><span class="badge badge-warning">95%</span></td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Hồ Chí Minh</td>
                                  <td>Bắc Kinh</td>

                                  <td><span class="label label-info">Đang bay</span></td>
                                  <td><span class="badge badge-info">65%</span></td>
                              </tr>
                              <tr>
                                  <td>5</td>
                                  <td>Bangkok</td>
                                  <td>Hà Nội</td>

                                  <td><span class="label label-warning">Sắp hạ cánh</span></td>
                                  <td><span class="badge badge-danger">95%</span></td>
                              </tr>
                              <tr>
                                  <td>6</td>
                                  <td>New York</td>
                                  <td>Hồ Chí Minh</td>

                                  <td><span class="label label-info">Đang bay</span></td>
                                  <td><span class="badge badge-success">85%</span></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->
<!--main page chart start here-->

 </div>
<!--main page chart layer2-->

<!--climate start here-->
<!--climate end here-->
</div>
<!--inner block end here-->