    <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			      <!--<img id="logo" src="" alt="Logo"/>-->
			  </a> </div>
		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="{{ url_for('admin', filename='index.html') }}"><i class="fa fa-tachometer">

                </i><span>Bảng điều khiển</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Chuyến bay</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="#">...</a></li>
		            <li><a href="#">...</a></li>
		          </ul>
		        </li>
                  <li><a href="#"><i class="fa fa-shopping-cart"></i><span>Đơn hàng</span><span class="fa fa-angle-right" style="float: right"></span></a>
		         	<ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">...</a></li>
			            <li id="menu-academico-boletim" ><a href="#">...</a></li>
		             </ul>
		         </li>
		        <li id="menu-comunicacao" ><a href="#"><i class="fa fa-book nav_icon"></i><span>Vé</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul id="menu-comunicacao-sub" >
		            <li id="menu-mensagens" style="width: 120px" ><a href="#">...</a>
		            </li>
		            <li id="menu-arquivos" ><a href="#">...</a></li>
		             <li id="menu-arquivos" ><a href="#">...</a></li>
		          </ul>
		        </li>
		          <li><a href="#"><i class="fa fa-map-marker"></i><span>Bản đồ</span></a></li>

		        <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Hoá đơn</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul id="menu-academico-sub" >
		          	 <li id="menu-academico-boletim" ><a href="#">...</a></li>
		            <li id="menu-academico-avaliacoes" ><a href="#">...</a></li>
		          </ul>
		        </li>

		        <li><a href="#"><i class="fa fa-bar-chart"></i><span>Báo cáo</span></a></li>
		        <li><a href="#"><i class="fa fa-envelope"></i><span>Hộp thư</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">...</a></li>
			            <li id="menu-academico-boletim" ><a href="#">...</a></li>
		             </ul>
		        </li>
		         <li><a href="#"><i class="fa fa-cog"></i><span>Quy định</span><span class="fa fa-angle-right" style="float: right"></span></a>
		         	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">...</a></li>
			            <li id="menu-academico-boletim" ><a href="#">...</a></li>
		             </ul>
		         </li>

		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
