    <div class="sidebar-menu" style="height: 900px;">

		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="{{ url_for('admin_index') }}"><i class="fa fa-tachometer">

                </i><span>Bảng điều khiển</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Chuyến bay</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="{{ url_for('flight_index_internal') }}">Trong nước</a></li>
		            <li><a href="{{ url_for('flight_index_external') }}">Quốc tế</a></li>
		          </ul>
		        </li>

		        <li id="menu-comunicacao" ><a href="{{ url_for('ticket_index') }}"><i class="fa fa-book nav_icon"></i><span>Vé</span><span ></span></a>

		        </li>


		        <li id="menu-academico" ><a href="{{ url_for('order_index') }}"><i class="fa fa-file-text"></i><span>Hoá đơn</span></span></a>

		        </li>

		        <li><a href="{{ url_for('report_index') }}"><i class="fa fa-bar-chart"></i><span>Báo cáo</span></a></li>
		        <li><a href="#"><i class="fa fa-envelope"></i><span>Hộp thư</span><span></span></a>

		        </li>
		         <li><a href="#"><i class="fa fa-cog"></i><span>Quy định</span><span></span></a>

		         </li>

		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
