{% extends "admin/base/base.html" %}
{% block inner %}
    <!--inner block start here-->
<div class="inner-block">
    <div class="portlet-grid-page">
    	<h2>Các chuyến bay trong nước </h2>
    	<div class="portlet-grid panel-primary">
    		 <div class="panel-heading">
    		      <h3 class="panel-title">Hà Nội - Hồ Chí Minh </h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
    	</div>
		<div class="portlet-grid panel-success">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Hà Nội</h3>
    		  </div>
    		  <div class="panel-body">
    		  	 Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-info">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Cần Thơ - Hồ Chí Minh</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-warning">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hà Nội - Hải Phòng</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-danger">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Đà Nẵng</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Đà Nẵng - Hà Nội</h3>
		  </div>
		  <div class="panel-body">
		          Đang cập nhật...
		  </div>
		</div>
		<div class="portlet-grid panel-primary">
    		 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Hải Phòng</h3>
    		  </div>
    		  <div class="panel-body">
    		  	 Đang cập nhật...
    		  </div>
    	</div>
		<div class="portlet-grid panel-success">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Cần Thơ - Đà Nẵng</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-info">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Nha Trang - Nam Định</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-warning">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Buôn Mê Thuột - Hồ Chí Minh</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-danger">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Vinh - Nha Trang</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="clearfix"> </div>
  </div>
</div>
<!--inner block end here-->
{% endblock %}