{% extends "admin/base/base.html" %}
{% block inner %}
    <!--inner block start here-->
<div class="inner-block">
    <div class="portlet-grid-page">
    	<h2>Các chuyến bay quốc tế </h2>
    	<div class="portlet-grid panel-primary">
    		 <div class="panel-heading">
    		      <h3 class="panel-title">Hà Nội - Vientiane, Lào </h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
    	</div>
		<div class="portlet-grid panel-success">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Hong Kong</h3>
    		  </div>
    		  <div class="panel-body">
    		  	 Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-info">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Sydney, Úc</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-warning">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hà Nội - Seoul, Hàn Quốc</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-danger">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Melbourne, Úc</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Đà Nẵng - Bangkok, Thái Lan</h3>
		  </div>
		  <div class="panel-body">
		          Đang cập nhật...
		  </div>
		</div>
		<div class="portlet-grid panel-primary">
    		 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Palembang, Indonesia</h3>
    		  </div>
    		  <div class="panel-body">
    		  	 Đang cập nhật...
    		  </div>
    	</div>
		<div class="portlet-grid panel-success">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Cần Thơ - Bangalore, Ấn Độ</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-info">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Nha Trang - Marid, Tây Ban Nha</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-warning">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Hồ Chí Minh - Newyork, Mỹ</h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="portlet-grid panel-danger">
			 <div class="panel-heading">
    		      <h3 class="panel-title">Vinh - Timmins, </h3>
    		  </div>
    		  <div class="panel-body">
    		  	  Đang cập nhật...
    		  </div>
		</div>
		<div class="clearfix"> </div>
  </div>
</div>
<!--inner block end here-->
{% endblock %}