{% extends "admin/base/base.html" %}
{% block inner %}
<!-- Pie-chart -->
                    <div class="inner-block">
                        <h4 class="tittle-w3-agileits mb-4">Danh sách hóa đơn</h4>
                        <div class="widget widget-report-w3-table">
                            <div class="widget-header row justify-content-between mb-3">
                                <div class="col">
                                    <h3></h3>
                                </div>
                                <div>
                                </div>
                            </div>

                            <div class="widget-body p-15">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã hóa đơn</th>
                                            <th>Tên khách hàng</th>
                                            <th>Khoảng thanh toán (đ)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2356</td>
                                            <td>dummy text </td>
                                            <td>100000</td>
                                            <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                        <tr>
                                            <td>4589</td>
                                            <td>Lorem Ipsum</td>
                                            <td>250000</td>
                                            <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>

                                        <tr>
                                            <td>3269</td>
                                            <td>specimen book</td>
                                            <td>600000</td>
                                            <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                        <tr>
                                            <td>5126</td>
                                            <td>Letraset sheets</td>
                                            <td>100000</td>
                                            <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                        <tr>
                                            <td>7425</td>
                                            <td>PageMaker</td>
                                            <td>5000000</td>
                                            <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                    <tr>
                                            <td>1425</td>
                                            <td>PageMaker</td>
                                            <td>100000</td>
                                        <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                    <tr>
                                            <td>7435</td>
                                            <td>PageMaker</td>
                                            <td>900000</td>
                                        <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                    <tr>
                                            <td>7422</td>
                                            <td>PageMaker</td>
                                            <td>230000</td>
                                        <td class="text-center"><a href="#">Cập nhật</a> | <a href="#">Xóa</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}